<% content_for :scripts do %>
<script type="text/javascript" src="./javascripts/app.js"></script>
<% end %>

<div id="sidebar">
    <iframe
      style="width: 98%; height: 300px; border: none;"
      frameborder="0" allowtransparency="0"
      id="zeep_mobile_settings_panel"
      src="https://www.zeepmobile.com/subscription/settings?api_key=5f02d2d6-97e8-4316-83b6-f5ee69b6af26&user_id=[<%= session['user_id'] %>]"></iframe>
</div>
<div id="main">
  <div id="mpg-graph"><%= @averages.join(',') %></div>
  <table>
    <thead>
      <tr>
        <th>Date / Time</th>
        <th>Odometer</th>
        <th>Price</th>
        <th>Gallons</th>
        <th>MPG</th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |r| %>
        <tr>
          <td><%= r.created_at.strftime("%Y-%m-%d at %I:%M%p") %></td>
          <td><%= r.odometer %></td>
          <td><%= r.price %></td>
          <td><%= r.gallons %></td>
          <td><%= sprintf('%.2f', r.miles_per_gallon) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
